@media (max-width:500px){
    .searchBarContainer{
        width: 100%;
        background-color: #EEEEEE;
        
    }

    .autoCompleteOuterContainer{
        background-color: #EEEEEE;
        width: 371px;
        height: 48px;
        margin: auto;
    }

    .logoImage{
        width: 176px;
        margin-left: 70px;
        position: absolute;
    }
}